* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  padding: 0 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  position: relative;
}

.container::before {
  content: "";
  width: 1260px;
  height: 100px;
  border-radius: 50%;
  background: black;
  position: absolute;
  top: -50px;
  left: -10px;
}

.container::after {
  content: "";
  width: 1260px;
  height: 100px;
  border-radius: 50%;
  background: black;
  position: absolute;
  bottom: -50px;
  left: -10px;
}

.container i {
  top: 50%;
  position: absolute;
  color: white;
  width: 46px;
  height: 46px;
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  transform: translateY(-50%);
}

.container i:first-child {
  left: -36px;
}

.container i:last-child {
  right: -36px;
}

.title-name {
  color: white;
}

.photos {
  width: calc(100% / 3);
  height: 480px;
  margin-left: 15px;
}

.photos:first-child {
  margin-left: 0px;
}

.slides {
  white-space: nowrap;
  font-size: 0;
  cursor: pointer;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .photos {
    width: calc(100% / 2);
  }
  .container::before {
    width: 900px;
    height: 100px;
  }

  .container::after {
    width: 900px;
    height: 100px;
  }
}

@media screen and (max-width: 550px) {
  .photos {
    width: 100%;
  }
  .container::before {
    width: 450px;
    height: 100px;
  }

  .container::after {
    width: 450px;
    height: 100px;
  }
}
