body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightskyblue;
}

.slider-container {
  width: 300px;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.5 ease-in-out;
}

.slider img {
  width: 100%;
  height: auto;
}

.slider-button {
  cursor: pointer;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}
