* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background: lightslategray;
}

.container {
  width: 600px;
  height: 400px;
  overflow: hidden;
}

.slider {
  list-style: none;
  width: 3000px;
  position: relative;
  left: 0;
  transition: left 0.5s;
}

.slider > li {
  float: left;
}

.slider > li > img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.prev,
.next {
  padding: 10px 20px;
  background-color: gainsboro;
  border: none;
  border-radius: 10px;
}
